<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<script src="../js/jquery.js"></script>
<script src="../js/jquery-1.7.1.js"></script>


<body>
<!-- main -->
<div class="main">
    <h1>
        工具
    </h1>
    <form>
        首字母<input type="text" id="head" value="H" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'H';}"
                 required="">
        启始<input type="text" id="cloud" value="1000000" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '1000000';}"
                 required="">
        数量<input type="text" id="count" value="10000" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '';}"
                 required="">
        <input type="submit" onclick="test()" value="提交">
    </form>
</div>
<div class="footer">
    <p>
        &copy 更多功能请关注电报机器人：<a href="https://t.me/fulihao_bot" target="_blank">fulibot</a>
    </p>
</div>
<!-- //main -->
</body>

<!--<input type="text"  align="center" id="cloud" value="H1000000" />
<br>
<button type="button" onclick="test()">提交</button>
</body>-->

<script>

    function test(){
/*        var adata = {
            "fileName" : document.getElementById("cloud").value,

        };*/
        var cloud = document.getElementById("cloud").value;
        var count = document.getElementById("count").value;
        var head = document.getElementById("head").value;
        /*var data = JSON.stringify(adata);*/
        $.ajax({
            type : "GET",
            dataType: "json",//通过GET方式上传请求
            contentType : "application/json",//上传内容格式为json结构
           /* data : data, */                                //上传的参数
            async: true ,
            url : "cloudSee/scan?fileName="+cloud+"&fileHead="+head+"&count="+count,     //请求的url。与后端@Request Mapping注解中的值一致。
            success : function(data) {//请求成功的回调函数
                console.log(data);
                if (data.code === 200){
                    alert("成功");
/*                    window.location.href = "success";*/
                }
            },
            error : function(e) {           //请求失败的回调函数
                console.log(e);
                alert("失败");
            }
        });
    };
</script>
</html>