<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xabgesagtx.example.dao.SensitiveWordMapper">
  <resultMap id="BaseResultMap" type="com.github.xabgesagtx.example.entity.SensitiveWord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="descs" jdbcType="VARCHAR" property="descs" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="rsrv1" jdbcType="VARCHAR" property="rsrv1" />
    <result column="rsrv2" jdbcType="VARCHAR" property="rsrv2" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, descs, remark, rsrv1, rsrv2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sensitiveword
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sensitiveword
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.github.xabgesagtx.example.entity.SensitiveWord">
    insert into sensitiveword (id, name, descs, 
      remark, rsrv1, rsrv2
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{descs,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{rsrv1,jdbcType=VARCHAR}, #{rsrv2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.github.xabgesagtx.example.entity.SensitiveWord">
    insert into sensitiveword
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="descs != null">
        descs,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="rsrv1 != null">
        rsrv1,
      </if>
      <if test="rsrv2 != null">
        rsrv2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="descs != null">
        #{descs,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="rsrv1 != null">
        #{rsrv1,jdbcType=VARCHAR},
      </if>
      <if test="rsrv2 != null">
        #{rsrv2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.xabgesagtx.example.entity.SensitiveWord">
    update sensitiveword
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="descs != null">
        descs = #{descs,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="rsrv1 != null">
        rsrv1 = #{rsrv1,jdbcType=VARCHAR},
      </if>
      <if test="rsrv2 != null">
        rsrv2 = #{rsrv2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.xabgesagtx.example.entity.SensitiveWord">
    update sensitiveword
    set name = #{name,jdbcType=VARCHAR},
      descs = #{descs,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      rsrv1 = #{rsrv1,jdbcType=VARCHAR},
      rsrv2 = #{rsrv2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultType="com.github.xabgesagtx.example.entity.SensitiveWord">
    select
    <include refid="Base_Column_List" />
    from
    sensitiveword
  </select>
</mapper>