<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.xabgesagtx.example.dao.VideoListMapper" >
  <resultMap id="BaseResultMap" type="com.github.xabgesagtx.example.entity.VideoList" >
    <result column="file_id" property="fileId" jdbcType="VARCHAR" />
    <result column="file_type" property="fileType" jdbcType="VARCHAR" />
    <result column="file_size" property="fileSize" jdbcType="INTEGER" />
    <result column="file_desc" property="fileDesc" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.github.xabgesagtx.example.entity.VideoList" >
    insert into video_list (file_id, file_type, file_size, 
      file_desc)
    values (#{fileId,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, #{fileSize,jdbcType=INTEGER}, 
      #{fileDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.github.xabgesagtx.example.entity.VideoList" >
    insert into video_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fileId != null" >
        file_id,
      </if>
      <if test="fileType != null" >
        file_type,
      </if>
      <if test="fileSize != null" >
        file_size,
      </if>
      <if test="fileDesc != null" >
        file_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fileId != null" >
        #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=INTEGER},
      </if>
      <if test="fileDesc != null" >
        #{fileDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectCountByfileId" parameterType="Integer" resultType="Integer">
    select count(1)
    from video_list
    where file_size = #{fileSize,jdbcType=INTEGER}
  </select>
</mapper>